<mat-toolbar *ngIf="isAuthenticated" class="color-bd" class="fixed-toolbar">
  <span>{{ currentRouteName }}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav *ngIf="isAuthenticated" mode="side" opened class="margin-10 color-menu">
    <div>
      <img src="../assets/img/126790.png" class="icon-width" routerLink="courses">
    </div>
    <div>
      <a
        routerLink="courses"
        matTooltip="Agendas disponíveis"
        matTooltipPosition="after"
      >
        <mat-icon class="margin-top-bot-fist">event</mat-icon>
      </a>
    </div>
    <div>
      <a
        routerLink="admin"
        matTooltip="Administração"
        matTooltipPosition="after"
      >
        <mat-icon class="margin-top-bot">settings</mat-icon>
      </a>
    </div>
    <div>
      <a
        routerLink="./cadastrados"
        matTooltip="Cadastrados"
        matTooltipPosition="after"
      >
        <mat-icon class="margin-top-bot">people</mat-icon>
      </a>
    </div>
    <div>
      <a
        (click)="logout()"
        matTooltip="Logout"
        matTooltipPosition="after"
      >
        <mat-icon class="margin-top-bot">exit_to_app</mat-icon>
      </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content
    [ngClass]="{ 'margin-30': isAuthenticated && !isLoginPage() }"
  >
    <ng-container *ngIf="isAuthenticated"> </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
