.margin-30 {
  margin: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-0{
  padding: 0px !important;
}

.gap-45{
  gap: 45px;
}

.margin-top-0{
  margin-top: 0px;
}

.marin-top-20{
  margin-top: 20px;
}